.action
  min-height: 60px
  min-width: 60px
  border-radius: 50px
  background: #FF6363
  display: flex
  justify-content: center
  align-items: center
  margin: 15px
  cursor: pointer
  &:active
    background: #b44040
  p
    margin: 0
    color: white
    font-weight: bold